all.sqL
config
env
local
localsettings.py
localurls.py
todo.txt
private
__pycache__
db.sqlite3
secret.txt
deploy
*.pyc
staticx
*.log
logs
*.xlsx
*.png
*.jpg
*.gif
*.jpeg
TerrainParkourVS
